@charset "utf-8";

/*----------------------------------------------------------------------------- 
[client] Screen Stylesheet 

version:   1.0 
date:      01/01/01 
author:    [your email] 
email:     [you at domain dot com] 
website:   [your domain] 
version history: [location of file] 

----------------------------------------------------------------------------- */
/* @import url("typography.css"); */

/* Remove default styling */ 
html, body { 
    margin: 0; 
    padding: 0; 
    border: 0;
    overflow: hidden;
}

/* To remove highlighting on the canvas for iOS */
canvas {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

/* A wrapper for the taskbar. The taskbar is visible in every scenario */
#taskWrapper {
    background:rgba(207, 226, 243, 1);/*"#cfe2f3"*/;
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
